<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Cerberus">

    <xacro:include filename="$(find cerberus_description)/urdf/leg_macro.xacro" />

    <xacro:arg name="effort" default="40" />
    <xacro:arg name="max_joint_velocity" default="2.0" />

    <!--
    <link name="world" />
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="base_link" />
    </joint>
    -->

    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.45 0.282 0.2" />
            </geometry>
            <material name="blue">
                <color rgba="0.3 0.3 0.8 1.0" />
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.45 0.282 0.2" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0.077" />
            <geometry>
                <box size="0.9 0.019 0.03" />
            </geometry>
            <material name="blue">
                <color rgba="0.3 0.3 0.8 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.077" />
            <geometry>
                <box size="0.9 0.019 0.03" />
            </geometry>
        </collision>
        <inertial>
            <mass value="5.0" />
            <inertia ixx="0.1010416667" iyy="0.04980166667" izz="0.1175"
                ixy="0.0" ixz="0.0" iyz="0.0" />
        </inertial>
    </link>

    <xacro:leg_macro
        leg_name="FL"
        parent_link="base_link"
        gearbox_offset="0.1"
        connector_xyz="0.275 0.08 0"
        connector_rpy="0 1.5707963267948966 0"
        axis="0 1 0"
        rot_off="1.5707963267948966"
        shoulder_lower_limit="-2.094395102"
        shoulder_upper_limit="1.047197551"
        knee_rot_off="1.5707963267948966"
        knee_lower_limit="-0.5235987756"
        knee_upper_limit="1.047197551"
        effort="$(arg effort)"
        max_joint_velocity="$(arg max_joint_velocity)"
    />

    <xacro:leg_macro
        leg_name="FR"
        parent_link="base_link"
        gearbox_offset="0.1"
        connector_xyz="0.275 -0.08 0"
        connector_rpy="3.14159265 -1.5707963267948966 0"
        axis="0 -1 0"
        rot_off="-1.5707963267948966"
        shoulder_lower_limit="-2.094395102"
        shoulder_upper_limit="1.047197551"
        knee_rot_off="-1.5707963267948966"
        knee_lower_limit="-0.5235987756"
        knee_upper_limit="1.047197551"
        effort="$(arg effort)"
        max_joint_velocity="$(arg max_joint_velocity)"
    />

    <xacro:leg_macro
        leg_name="RL"
        parent_link="base_link"
        gearbox_offset="-0.1"
        connector_xyz="-0.275 0.08 0"
        connector_rpy="0 1.5707963267948966 0"
        axis="0 1 0"
        rot_off="1.5707963267948966"
        shoulder_lower_limit="-2.094395102"
        shoulder_upper_limit="1.047197551"
        knee_rot_off="1.5707963267948966"
        knee_lower_limit="-0.5235987756"
        knee_upper_limit="1.047197551"
        effort="$(arg effort)"
        max_joint_velocity="$(arg max_joint_velocity)"
    />

    <xacro:leg_macro
        leg_name="RR"
        parent_link="base_link"
        gearbox_offset="-0.1"
        connector_xyz="-0.275 -0.08 0"
        connector_rpy="3.14159265 -1.5707963267948966 0"
        axis="0 -1 0"
        rot_off="-1.5707963267948966"
        shoulder_lower_limit="-2.094395102"
        shoulder_upper_limit="1.047197551"
        knee_rot_off="-1.5707963267948966"
        knee_lower_limit="-0.5235987756"
        knee_upper_limit="1.047197551"
        effort="$(arg effort)"
        max_joint_velocity="$(arg max_joint_velocity)"
    />

    <link name="imu_link">
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.00001" iyy="0.00001" izz="0.00001" ixy="0.0" ixz="0.0" iyz="0.0" />
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="0 0 0.1" rpy="0 0 0" />
    </joint>

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <update_rate>200.0</update_rate>
            <always_on>1</always_on>
            <visualize>true</visualize>
            <imu>
                <topic>imu</topic>
                <angular_velocity>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.1</stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.1</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.1</stddev>
                        </noise>
                    </z>
                </angular_velocity>
                <linear_acceleration>
                    <x>true</x>
                    <y>true</y>
                    <z>true</z>
                </linear_acceleration>
            </imu>
        </sensor>
    </gazebo>

    <link name="realsense_link">
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.00001" iyy="0.00001" izz="0.00001" ixy="0.0" ixz="0.0" iyz="0.0" />
        </inertial>
    </link>

    <joint name="cam_joint" type="fixed">
        <parent link="base_link" />
        <child link="realsense_link" />
        <origin xyz="0 0 0.1" rpy="0 0 0" />
    </joint>

    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>

        <joint name="FL_hip_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="FL_thigh_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="FL_calf_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="FR_hip_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="FR_thigh_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="FR_calf_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="RL_hip_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="RL_thigh_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="RL_calf_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="RR_hip_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="RR_thigh_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="RR_calf_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="ign_ros2_control-system"
            name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find cerberus_bringup)/config/cerberus.yaml</parameters>
        </plugin>
        <plugin filename="libignition-gazebo-imu-system.so"
            name="ignition::gazebo::systems::Imu">
        </plugin>
    </gazebo>

</robot>